
 .fontw{font-style: Helvetica;color: white;}
 .fontg{font-style: Helvetica;color: white;}
 .bold {font-weight: bold;}
 .size18 {font-size: 18px;}
 .size32 {font-size: 32px;}
 .size70 {font-size: 70px;}
 .size23 {font-size: 23px;}
 .Size14 {font-size: 14px;}
 .size11 {font-size: 11px;}
 .FrontBack{background-color: dimgray;color:white;}
 .bimage {
   background-image: url("../images/the-flatiron-building.png");
   background-repeat: no-repeat;

 }
 a {color: white;font-style: Helvetica;}
.sm-background {
  background-image: url("../images/the-flatiron-building.png");
  background-repeat: no-repeat;
s
}
.bottombar{
background-color: dimgray;

}

.margin {
    margin: 20px 0 0 0;
}
.nav {
   position: relative;
   color: white;
   top: -15px;
}
